@{
    ViewBag.Title = "The Light of Gita - Chapter III";
}
<style type="text/css">
    .slokaWrapper {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        text-align: justify;
        text-justify: inter-word;
        /*color: #020f19;*/
        font-size: 14px;
    }

    .slokaDiv {
        text-align: center;
        color: #12629c;
        background-color: #f2f2f2;
        padding: 10px;
        font-weight: 400;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerL {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to left, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerR {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to right, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadescription {
        margin: 10px;
        text-align: left;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h2 style="color:#12629c;">Chapter III</h2>
        <h3 style="color:#0094ff;">Karma Yoga</h3>
        <br />
        <div class="row">
            <p class="slokadescription">
                Coming Soon!
            </p>
        </div>
    </div>
</div>

<div class="slokaWrapper">
    <div class="slokaDiv">
        -
    </div>
    <p class="slokadescription">
        -
    </p>
    <hr class="slokadividerL" />
    <br />
</div>